# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/gui/dist
/gui/tmp
/gui/out-tsc
# Only exists if Bazel was run
/gui/bazel-out

# dependencies
/gui/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/gui/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea
*.iml

# misc
.sass-cache
/gui/connect.lock
/gui/coverage
/gui/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/gui/typings

# System Files
.DS_Store
Thumbs.db
target

### Skaffold ###
.skaffold
skaffold.yaml
