:host { width: 100%;}

.card {
  .delete-link {
    text-decoration: underline;
    cursor: pointer;
    padding-right: 0.5vw;
  }

  svg, .article-image {
    height: 120px;
  }

  .article-image {
    background-size: cover;
  }
}
