<form [formGroup]="creationForm" (ngSubmit)="onSubmit(creationForm.value)">
  <div class="form-row">

    <div class="form-group">
      <label for="sku">SKU</label>
      <input type="text" formControlName="sku" class="form-control" id="sku" aria-describedby="skuHelp"
             placeholder="Enter SKU"/>
      <small id="skuHelp" class="form-text text-muted">Article identifier</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="nameHelp"
             placeholder="Enter name"/>
      <small id="nameHelp" class="form-text text-muted">Article name</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description" class="form-control" id="description" aria-describedby="descriptionHelp"
                placeholder="Enter description"></textarea>
      <small id="descriptionHelp" class="form-text text-muted">Article description</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="priceInUsd">Price (USD)</label>
      <input type="number" formControlName="priceInUsd" class="form-control" id="priceInUsd"
             aria-describedby="priceInUsdHelp"
             placeholder="Enter price (USD)"/>
      <small id="priceInUsdHelp" class="form-text text-muted">Article price (USD)</small>
    </div>
  </div>
  <div class="form-row">
    <button class="button" type="submit">Register</button>
  </div>
</form>
